*
{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    /* background-color: #ff0000; */
}

body
{
    margin: auto;
}

main
{
    display: grid;
    grid-template-areas: "sb a sj";
    /* max-width: 1000px; */
    margin: 5px;
    margin: auto;
    width: 80%;
    height: 500px;
    grid-template-columns: 1fr 1fr 1fr;
}

article, section
{
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
}

article
{
    grid-area: a;
}

section #bal
{
    grid-area: sb;
    width: 33%;
}

section #jobb
{
    grid-area: sj;
    width: 33%;
}

#piros, #sarga, #zold
{
    border: 1px solid black;
    border-radius: 100px;
    /* margin: 20px;
    padding: 20px; */
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 10px;
}

